<!DOCTYPE html>
<html>
<head>
    <title>{{ WAFER_CONFERENCE_NAME }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/wafer.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/pyconza2016.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon">
    <link href="//fonts.googleapis.com/css?family=Alegreya|Pacifico|Oswald|PT+Sans|Source+Sans+Pro" rel="stylesheet" type="text/css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include "wafer/nav.html" %}
    <div id="wrap">
        <div id="main" class="container">
{% block content %}
    <h1>{{ WAFER_CONFERENCE_NAME }}</h1>
{% endblock %}
        </div>
        <div id="logos">
            <a href="http://www.takealot.com/" target="_blank"><img
                    src="{{ STATIC_URL }}img/logo_takealot.png"/></a>
            <a href="http://www.oracle.com/us/dm/253340-wwmk12042041mpp011-se-2069148.html"
               target="_blank"><img
                    src="{{ STATIC_URL }}img/logo_oracle.png"/></a>
            <a href="https://developers.google.com/" target="_blank"><img
                    src="{{ STATIC_URL }}img/logo_google.png"/></a>
            <br>
            <a href="http://python.org/psf/" target="_blank"><img
                    src="{{ STATIC_URL }}img/logo_psf.png"/></a>
            <a href="https://offerzen.com/" target="_blank"><img
                    src="{{ STATIC_URL }}img/logo_offerzen.png"/></a>
            <a href="http://adccpt.co.za/" target="_blank"><img
                    src="{{ STATIC_URL }}img/logo_amazon.png"/></a>
            <a href="http://www.voss-solutions.com/" target="_blank"><img
                    src="{{ STATIC_URL }}img/logo_voss.png"/></a>
        </div>
        <div id="legal">&copy; 2016 PyCon ZA.</div>
        <!-- <div id="credits">PyConZA brought to you by <a href="http://www.example.org/" target="_blank">Example Org</a></div> -->
        <div id="logo_bottom"><img src="{{ STATIC_URL }}img/logo_bottom.png" /></div>
    </div>
    <div id="footer">
        <a href="https://github.com/CTPUG/pyconza2016">Pull requests</a> welcome.
    </div>
    <script src="{{ STATIC_URL }}jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
    {% block extra_foot %}{% endblock %}
</body>
</html>
